parameters:
    locale: en
    secret: toto
    mongodb_server: 'localhost:27017'
    paypal_config:
        username: aaa
        password: bbb
        signature: ccc
        sandbox: 0
    oauth_config:
        facebook:
            client_id: aaa
            secret_id: bbb
        twitter:
            client_id: aaa
            secret_id: bbb
