{# listing of Plans #}
{% extends 'TrismegistePortalBundle:Front:layout_w_menu.html.twig' %}

{% block content_body %}
    <div class="content">
        <h1>Choose your plan</h1>
    </div>
{% endblock %}